#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
}

.skillsIntro{
    font-weight: 300;
    padding-top: 3rem;
    margin-top: 10px;
}

.skillsTitle{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    
}



.mySkillsList{
    
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    /* display: flex; */
}

.singleSkill{
    text-decoration: none;
    margin: 1rem ;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 1px -2px rgba(11, 11, 11, 0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    display: flex;
    align-items: center;
    justify-content: center;
}


.skillsIcons{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}


@media screen and (max-width:720px){
    .singleSkill{
       margin: 0.5rem 0.5rem;
        
    }
}

@media screen and (max-width:480px){
    .skillBarText>p{
        font-size: 3vw;
        font-weight: 400;
        
    }
    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;
        
    }
    .skillBarText>h2{
        font-size: 5vw;
    }
}