#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
}

.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    
}



.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    /* display: flex; */
}

.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem ;
    /* background: rgba(185, 185, 185, 0.504); */
        backdrop-filter: blur(10px);
        box-shadow: 0px 3px 1px -2px rgba(11, 11, 11, 0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p{
    /* color: green; */
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width:720px){
    .skillBarText>p{
        font-size: 2vw;
        
    }
}

@media screen and (max-width:480px){
    .skillBarText>p{
        font-size: 3vw;
        font-weight: 400;
        
    }
    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;
        
    }
    .skillBarText>h2{
        font-size: 5vw;
    }
}