#intro{
    height: calc(100vh - 4rem);
    width:100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height:100vh;
}

.IntroContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.IntroName{
    color: yellow;
}
.IntroPara{
    font-size: medium;
    font-weight: 300;
    /* max-width: 50%; */
    letter-spacing: 1px;
}

.introBtns{
    display: flex;
    
}

.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.btnImg{
object-fit: cover;
margin-right: 0.5rem;
height: 1rem;
}

@media screen and (max-width:840px){
    .bg{
        right: -10vw;
    }
    .IntroContent{
        font-size: 8vw;
    }
    .hello{
        font-size: 4.5vw;
    }
    .introBtns{
        flex-direction: column;
    
    }
    .btn{
        margin: 0.4rem 0rem;

    }

    
}

@media screen and (max-width:580px){
    .bg{
        right: -20vw;
    }
   
}
@media screen and (max-width:350px){
    .bg{
        right: -40vw;
    }
   
}

