#intro{
    height: calc(100vh - 4rem);
    width:100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    font-size: 8vw;
}

.bg{
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height:100vh;
}

.IntroContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    

}

.textCont{
display: flex;
flex-direction: column;

}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
    /* background: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(10px); */
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    border-radius: 1rem;
}

.IntroName{
    color: rgb(0, 0, 0);
    /* background: rgba(185, 185, 185, 0.504);
    backdrop-filter: blur(10px); */
}

.IntroText{
    /* background: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(10px); */
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    border-radius: 1rem;
}
.IntroPara{
    font-size: medium;
    font-weight: 300;
    /* max-width: 50%; */
    letter-spacing: 1px;
    /* background: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(10px); */

    width: fit-content;
    background-color: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    border-radius: 1rem;

        
}

.introBtns{
    display: flex;
    /* transition: all 300; */
}

.btn{
    background: white;
    margin: 1rem 0;
    padding-right: 1.5rem;
    padding-left: 1rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    /* border: 2px solid black; */
    box-shadow: 0px 3px 1px -2px rgba(11, 11, 11, 0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    /* transition: black 0.3s ease; */
}

.btn:hover{
    background: rgb(0, 0, 0);
    color: white;
    /* border: 2px solid white; */
    cursor: pointer;
   transition: all 300 ease;
}

.unicons2{
    
    color: black;
    margin: 0 0.5rem;
    font-size: 2rem;
}

.introBtns2{
    font-size: 10px;
}


.btnImg{
object-fit: cover;
margin-right: 0.5rem;
height: 1rem;
}

.btn{
    transition: all 300ms ease;
}

@media screen and (max-width:840px){
    .bg{
        right: -10vw;
    }

   
    .IntroContent{
        font-size: 5vw;
        
    }
   
    .hello{
        font-size: 4.5vw;
    }

  

    
    .introBtns{
        flex-direction: column;
    
    }
    .btn{
        margin: 0.2rem 0rem;

    }

    .unicons2{
    
        /* margin: 0 0.5rem; */
        font-size: 1.4rem;
    }
    

    
}

@media screen and (max-width:580px){
    .bg{
        right: -50vw;
    }
    .IntroContent{
        font-size: 7vw;
        
    }
    .IntroPara{
        font-size: 3.5vw;
    }
   
}

@media screen and (max-width:480px){
   
    .bg{
        right: -40vw;
    }

    .introBtns2{
        display: flex;
        flex-direction: column;
        
      
    }
   
}




